<html>
    <head>
        <title>Andela Challenge 2</title>
    </head>
    <body>
        <h3>My end points</h3>
        <table>
            <tr>
                <td>API ENDPOINT</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ACTION</td>
            </tr>
            <tr>
                <td><a href="#">/api/v1/questions</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>POST A QUESTION</td>
            </tr>
            <tr>
                <td><a href="#">/api/v1/1</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>GET A QUESTION</td>
            </tr>
            <tr>
                <td><a href="#">/api/v1/questions</a></td>
               <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>GET A LIST OF QUESTIONS</td>
            </tr>
            <tr>
                <td><a href="#">/api/v1/2/answers</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>POST AN ANSWER TO A QUESTION</td>
            </tr>
        </table>
    </body>
</html>