body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

/*global*/
h3 {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #f4f4f4;
    box-sizing: border-box;
}

a:hover {
    color: #e8491d;
}

input {
    width: 210px;
    height: 30px;
    box-sizing: border-box;
}

/**container*/
.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
}

.container p {
    color: #f4f4f4;
}

/*header-grid*/
.header-grid {
    background:  #35424a;
    color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    padding:15px 0 15px 50px;
    box-sizing: border-box;
}

/*nav*/
.nav-bar {
    margin-left: 50px;
    font-size: 15px;
    padding:20px 0 15px 250px;
    box-sizing: border-box;
}

/*form*/
form {
    padding-top: 50px;
    width: 600px;
    margin-top: 80px;
    background: #35424a;
    justify-self: center;
    display: grid;
    justify-content: center;
    grid-row-gap: 15px;
    box-sizing: border-box;
}

.sign-in-form {
    margin-top: 95px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.dashboard {
    padding: 20px;
    margin-top: 50px;
    width: 600px;
    box-sizing: border-box;
}

/*Questions*/
.current-question {
    border: 2px solid #35424a;
    justify-self: center;
    margin-top: 30px;
    width: 600px;
    height: 200px;
    box-sizing: border-box;
}

.current-question h3 {
    text-align: center;
    background: #35424a;
    padding: 20px;
    color: #FF9966;
}

.recent-questions {
    border: 2px solid #35424a;
    justify-self: center;
    margin-top: 30px;
    width: 600px;
    height: 200px;
    box-sizing: border-box;
}

.recent-questions h3 {
    text-align: center;
    background: #35424a;
    padding: 20px;
    color: #FF9966;
    box-sizing: border-box;
}



.form-title {
    margin-bottom: 10px;
    color:#FF9966;
    box-sizing: border-box;
}

.sign-in {
   margin-left: 135px;
   box-sizing: border-box;
}

.dashboard-title {
    margin-left: 10px;
}

/*form-inputs*/
.username label {
    color: #f4f4f4;
    margin-right: 55px;
    box-sizing: border-box;
}
.email label {
    color: #f4f4f4;
    margin-right: 30px;
    box-sizing: border-box;
}

.password label {
    color: #f4f4f4;
    margin-right: 62px;
    box-sizing: border-box;
}

.confirm_password label {
    color: #f4f4f4;
    margin-right: 2px;
    box-sizing: border-box;
}

.password input {
    width: 210px;
    box-sizing: border-box;
    box-sizing: border-box;
}

.button button{
    border: none;
    color: #f4f4f4; 
    background-color: #e8491d;
    height: 30px;
    width: 348px;
    box-sizing: border-box;
}

.dashboard-button button {
    margin-left: 260px;
    width: 100px;
    box-sizing: border-box;
}

.sign-up-title {
    margin-left: 50px;
    box-sizing: border-box;
}

.sign-up-link {
    color:#e8491d;
}

.sign-up-link:hover {
    color: #f4f4f4;
}

.question-field {
    height: 70px;
    width: 360px;
    box-sizing: border-box;
}

/*footer*/
footer {
    text-align: center;
    background:  #35424a;
    margin-top: 121px;
    box-sizing: border-box;
}

.footer {
    margin-top: 116px;
}
